.App {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

.instructions {
  padding: 10px;
}

.mapGrandParent {
  height: 100%;
}

.mapParent {
  background: #333;
  height: 92%;
  padding: 10px;
}

.map {
  height: 100%;
  width: 100;
}

.menuCard {
  width: 18rem;
  z-index: 1000;
}
.storeBtn text {
  pointer-events: none;
}

.userStoreCard {
  padding: 2px;
  width: 180px;
}

#toggler {
  padding: 0px;
  width: 178px;
  height: 30px;
}

#collapse-icon {
  width: 178px;
  display: flex;
  justify-content: center;
}
